/.idea/workspace.xml
/.idea/copyright
/.idea/dictionaries
/.idea/lunchbox.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
workspace.xml
copyright
dictionaries
lunchbox.iml
misc.xml
modules.xml
vcs.xml
